div {
    border: 1px solid white;
}

body { 
  background-image: url("../Images/wallpaper.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


td {
  background-color: white;
  border-top-color: black;
  border-bottom-color: black;
  border-style: solid;
  border-color: transparent;
  width: 130px;
  height: 100px;
}

#player1 td.active {
background-image:url("../Images/cop.png");
background-position: top left, top center, top right;
background-repeat: no-repeat;
}

#player2 td.active {
background-image:url("../Images/robber.jpg");
background-position: top left, top center, top right;
background-repeat: no-repeat;
}

h1 {
  color: #e9eaea;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}
