body { 
  background-image: url("../Images/wallpaper.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


td {
  background-color: white;
  border-top-color: black;
  border-bottom-color: black;
  border-style: solid;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

#player1 td.active {
  background-color: red;
  border: 50px blue;
}

#player2 td.active {
  background-color: yellow;
  border: 50px green;
}

h1 {
  color: #e9eaea;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}


